body {
	background-color: #0fc;
	font-family: Arial;
}

h1 {
	color: blue;
}

.note {
	margin-right: 8px;
	color: #888;
}

.playing {
	font-weight: bold;
	color: #000;
}

button {
	cursor: pointer;
	border: 4px solid #004080;
	border-radius: 8px;
	background-color: #dfd;
	padding: 10px;
	font-weight: bold;
	border: 4px solid #004080;
	box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.4);
}

#stop-button {
	position: absolute;
	top: 100px;
}

#playing-notes {
	margin: 8px;
	background-color: #dfd;
	padding: 8px;
	height: 22px;
	width: 320px;
	border-radius: 4px;
	font-size: 22px;
}

.mesure-num {
	font-size: 14px;
	text-align: right;
	padding-right: 18px;
	vertical-align: top;
	width: 20px;
	display: inline-block;
}
