#mesure-tables table {
	margin-top: 22px;
}

#mesure-tables table td {
	border-radius: 4px;
	text-align: center;
	color: #222;
}

#mesure-tables table td.current {
	font-weight: bold;
}

#mesure-tables table td.note.current {
	opacity: 0.55;
}

#mesure-tables table .clip-name {
	background-color: #eee;
	min-width: 100px;
	padding: 4px;
	text-align: center;
	font-weight: bold;
}

#mesure-tables table .note {
	cursor: pointer;
	background-color: #df8;
	width: 40px;
	padding: 4px;
}

#mesure-tables table .note:hover {
	background-color: #4d4;
}

#mesure-tables table .note.selected {
	background-color: #4d4;
}

#tempo-slider-container {
	margin-top: 12px;
	font-weight: bold;
}

#tempo-slider {
	width: 200px;
}
