#mesure-tables table {
	margin-top: 22px;
}

#mesure-tables caption {
	text-align: left;
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: 24px;
}

#mesure-tables table td {
	border-radius: 8px;
	text-align: center;
	color: #222;
	min-width: 22px;
}

#mesure-tables table td.current {
	font-weight: bold;
}

#mesure-tables table td.note.current {
	opacity: 0.55;
}

#mesure-tables table .clip-name {
	background-color: #ddd;
	min-width: 100px;
	padding: 4px;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}

#mesure-tables table .clip-name img {
	width: 18px;
	margin-right: 8px;
	cursor: pointer;
}

#mesure-tables table .clip-name.selected {
	background-color: #fff;
}

#mesure-tables table .note {
	cursor: pointer;
	background-color: #df8;
	width: 40px;
	padding: 4px;
}

#mesure-tables table .note:hover {
	background-color: #4d4;
}

#mesure-tables table .note.selected {
	background-color: #4d4;
}

#mesure-tables table .note.selecting {
	background-color: #8e8;
}

#add-remove-beat img {
	cursor: pointer;
}

#tempo-slider-container {
	font-weight: bold;
	display: inline-block;
	margin-left: 18px;
	margin-top: 18px;
	vertical-align: top;
}

#tempo-slider {
	width: 80px;
}

#evolve-container {
	font-weight: bold;
	display: inline-block;
	margin-left: 18px;
	margin-top: 18px;
	vertical-align: top;
}

#evolution-slider-container {
	display: inline;
}

#evolution-slider-container span {
	font-weight: normal;
}

.add-clip-container {
	margin-top: 4px;
}

.checkbox-header {
	font-size: 12px;
	font-weight: bold;
	text-align: center !important;
	min-width: 40px !important;
	padding: 2px !important;
}

.checkbox-cell {
	text-align: center;
	min-width: 40px !important;
	background-color: transparent !important;
}

.checkbox-cell input {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

#mesure-tables table tr.muted .note {
	background-color: #aaa !important;
}

#mesure-tables table tr.muted .note:hover {
	background-color: #888 !important;
}

#mesure-tables table tr.muted .note.selected {
	background-color: #777 !important;
}

#mesure-tables table tr.muted .clip-name {
	background-color: #aaa;
}

.add-clip-container select {
	min-width: 160px;
	font-size: 18px;
	border-width: 4px;
	border-style: solid;
	border-color: #8e8;
	border-radius: 8px;
}

.control-button {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	position: relative;
	top: 16px;
	cursor: pointer;
	margin-left: 12px;
}

.modal {
	z-index: 100;
	position: absolute;
	background-color: white;
	border-radius: 12px;
	border-style: solid;
	border-color: #222;
	border-width: 1px;
	padding: 8px;
	top: 100px;
	box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.4);
}

.modal-header {
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline;
	margin-bottom: 12px;
}

#share-modal {
	left: calc(50% - 140px);
	width: 280px;
	line-height: 24px;
}

#share-modal input {
	margin-top: 12px;
	margin-bottom: 12px;
	width: 90%;
}

#save-modal {
	left: calc(50% - 140px);
	width: 280px;
}

#load-modal {
	left: calc(50% - 140px);
	width: 280px;
}

#save-modal button {
	margin-left: 90px;
	width: 100px;
	margin-top: 12px;
}

#compositions-list {
	width: 90%;
	border-width: 1px;
	border-style: solid;
	border-color: #222;
}

#compositions-list tr.row:hover {
	background-color: #ddd;
	cursor: pointer;
}

#save-modal input {
	width: 90%;
}

#note-selection {
	width: 80px;
	text-align: center;
	left: calc(50% - 40px);
}

#note-selection .col {
	display: inline-block;
}

#note-selection .col div {
	cursor: pointer;
	padding: 2px;
}

#note-selection .col div:hover {
	font-weight: bold;
	background-color: #eee;
}

#note-duration-container input {
	width: 90%;
}

.note-duration {
	height: 2px;
	background-color: #4370c3;
}

#open-load-button img,
#open-save-button img {
	width: 32px;
	cursor: pointer;
}

#byline {
	font-size: 12px;
	margin-bottom: 6px;
}

button {
	min-width: 80px;
}

.hidden {
	display: none !important;
}
